@use "../base/colors";

footer {
    background: radial-gradient(circle at right, #372dfd, #324ef0);
    padding: 0 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

  .authors {
    display: flex;
    align-items: center;
    text-align: right;

    p {
      padding-right: 20px;
      margin: 0 20px 0 0;
      border-right: 2px solid #e7eef3;
      user-select: none;

    }
  }
}
