{% extends 'base.html' %}

{% block content %}
    <section class="left">
        <div>
            <h5> Statu du compte :</h5>
            <h5> Date d'anniversaire :</h5>
            <h5> Changer de mot de passe</h5>
        </div>
    </section>
    <section class="right">
        <div class="">
            <h1>Bienvenue  !</h1>
            <h2> anniversaire souhaité depuis la création de ton compte !</h2>
        </div>
        <div class="anniversaire">
            <h1>Joyeux Anniversaire ! </h1>
            <p>Adrien, Aurelien, Bertrude, Clement, Damien, François, Jeremy, Manon, Nathan, Orelie, Patrick et Sarah</p>
        </div>
        <div class="list">

        </div>
    </section>
{% endblock %}