@use "../base/colors";

.btn {
  user-select: none;
  padding: 6px 12px;
  color: colors.$white;
  border: 2px solid colors.$white;
  border-radius: 10px;
  background-color: colors.$blue-300;

  &:hover {
    color: colors.$blue-800;
    background: colors.$white;
  }
}
