<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
</head>
<body>
<div class="links">
    <a href="{{ url_for('index') }}"> Index </a>
    <a href="{{ url_for('auth/login') }}"> Login </a>
    <a href="{{ url_for('auth/register') }}"> Register </a>
    <a href="{{ url_for('auth/delete') }}"> Delete </a>
    <a href="{{ url_for('dashboard') }}"> Dashboard </a>
    <a href="{{ url_for('legal') }}"> Legal </a>

</div>
{% block content %}{% endblock %}
</body>
</html>
