<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta
            name="viewport"
            content="width=device-width, user-scalable=yes,
            initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/css/style.css">

    <title>{{ title }}</title>
</head>
<body>

<header>
    <nav>
        <a class="very-big underline" href="/">Bday Reminder</a>

        <div class="right-nav">
            {% if session['user'] %}
                <a class="btn" href="{{ url_for('dashboard_page') }}">Dashboard</a>
            {% else %}
                <a class="btn" href="{{ url_for('login_page') }}">Log In</a>
                <a class="btn" href="{{ url_for('register_page') }}">Sign up</a>
            {% endif %}
        </div>
    </nav>
</header>

{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
