{% extends 'base.jinja2' %}

{% block content %}
    <p>dashboard page</p>
    <h2>Register a birthday</h2>

    <form method="post" action="{{ url_for('dashboard_page') }}">
        <label for="username">
            <input type="text" name="username" placeholder="username">
        </label>
        <label for="date">
            <input type="date" name="date" placeholder="birthday">
        </label>
        <input type="submit" value="Add">
    </form>
    <h2>Today's Birthday</h2>
    <div>
        {% for today_birthday in today_birthdays %}
            <div>{{ today_birthday.person_name }}</div>
            <hr>
        {% endfor %}
    </div>

    <h2>Birthday you a have registered</h2>
    <div>
        {% for birthday in birthdays %}
            <div>{{ birthday.person_name }}</div>
            <div>{{ birthday.person_birthday }}</div>
            <hr>
        {% endfor %}
    </div>

{% endblock %}
