{% extends 'base.jinja2' %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/search_birthday.js"></script>
{% endblock %}

{% block content %}
    <h1>Index page</h1>
    <h2> Search a birthday</h2>

    <form id='birthday_form'>
        <input
            id="search"
            type="text"
            name="search"
            placeholder="search a birthday"
        >
        <input type="submit" value="search">
    </form>

{% endblock %}
