@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-size: clamp(12px, 2vw, 16px);
  font-family: 'Poppins', 'Arial', sans-serif;
}

h1 {
  font-size: 3em;
}

h2 strong {
  font-size: 1.2em;
}

input {
  font-size: 1.1em;
}

a {
  font-size: 1em;
}

p {
  max-width: 75ch;
  text-align: justify;
}

.btn {
  font-size: 1.1em;
}

.very-big {
  font-size: 1.8em;
  font-weight: 800;
}
