{% extends 'base.jinja2' %}

{% block content %}
    <h1>Register your account</h1>

    <form method="post" action="{{ url_for('register_page') }}">
        <label for="username">
            <input type="text" name="username" placeholder="username" pattern="^([\w -]){4,32}$">
        </label>
        <label for="password">
            <input type="password" name="password" placeholder="password" pattern="^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d)(?=.*[!#$%&? ]).*$">
            <input type="password" name="confirm_password" placeholder="confirm_password" pattern="^.*(?=.{8,})(?=.*[a-zA-Z])(?=.*\d)(?=.*[!#$%&? ]).*$">
        </label>
        <input type="submit" value="Register">
    </form>
{% endblock %}
