@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-size: clamp(12px, 3vw, 16px);
  font-family: 'Poppins', 'Arial', sans-serif;
}

.btn {
  font-size: 1.1em;
}

.very-big {
  font-size: 1.8em;
  font-weight: 800;
}

.title {
  font-size: 3em;
}

h1.search {
  font-size: 3em;
}