:root {
  --color-text: #283747;
  --color-accent: #324EF0;
}

body {
  color: var(--color-text);
  font-family: Poppins, serif;
  font-style: normal;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100vh;

  &__section {
    display: grid;
    grid-template-rows: 30% 1fr;
    height: 100%;
    width: 100%;

    &--left {
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &--right {
      background: radial-gradient(100% 229.89% at 100% 0%, rgba(50, 78, 240, 0.1) 0%, rgba(55, 45, 253, 0.1) 100%);
    }
  }

  &__content {
    grid-row: 2;
    min-width: 80%;
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
  }
}