:root {
  --color-text: #283747;
  --color-accent: #324EF0;
}

body {
  color: var(--color-text);
  font-family: Poppins, serif;
  font-style: normal;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100vh;

  &__section {
    display: grid;
    grid-template-rows: 20% 1fr;
    height: 100%;
    width: 100%;

    &--left {
      p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &--right {
      background: radial-gradient(100% 229.89% at 100% 0%, rgba(50, 78, 240, 0.1) 0%, rgba(55, 45, 253, 0.1) 100%);
    }
  }

  &__content {
    grid-row: 2;
    min-width: 80%;
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;


    &__wordmark {
      color: var(--color-accent);
    }
  }
}

.countdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 80px;
  padding: 0;

  &__item {
    display: flex;
    flex-direction: column;

    &__number {
      font-family: Oswald, serif;
      font-weight: 700;
      font-size: 72px;
      line-height: 107px;
    }

    &__label {
      font-weight: 500;
      font-size: 34px;
      line-height: 42px;
    }
  }
}

.btn {
  color: inherit;
  text-decoration: none;
  outline: 2px solid var(--color-text);
  padding: 12px 30px;
  border-radius: 8px;
}