:root {
  --color-text: #283747;
  --color-accent: #324EF0;
}

body {
  color: var(--color-text);
  font-family: Poppins, serif;
  font-style: normal;
  margin: 0;

  *::selection {
    background-color: var(--color-accent);
    color: #fff;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100vh;

  &__section {
    display: grid;
    grid-template-rows: 25% 1fr;
    height: 100%;
    width: 100%;

    &--right {
      background: radial-gradient(
        100% 229.89% at 100% 0%, 
        rgba(50, 78, 240, 0.1) 0%, 
        rgba(55, 45, 253, 0.1) 100%
      );

      p {
        text-align: justify;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__content {
    grid-row: 2;
    min-width: 80%;
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    margin-top: 0;

    &__wordmark {
      color: var(--color-accent);
    }
  }
}

.countdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  user-select: none;
  list-style: none;
  margin: 0 0 8%;
  padding: 0;

  &__item {
    display: flex;
    flex-direction: column;

    &__number {
      font-family: Oswald, serif;
      font-weight: 700;
      font-size: 72px;
      line-height: 107px;
    }

    &__label {
      font-weight: 500;
      font-size: 34px;
      line-height: 42px;
    }
  }
}

.btn {
  color: inherit;
  text-decoration: none;
  outline: 2px solid var(--color-text);
  padding: 12px 30px;
  border-radius: 8px;
  user-select: none;
}

@media screen and (max-height: 620px) {
  .main {
    &__section {
      grid-template-rows: 0px 1fr;
    }

    &__content {
      margin: auto;
    }
  }
}

@media screen and (max-width: 1480px) {
  .main {
    grid-template-columns: 2fr 1fr;
  }
}

@media screen and (max-width: 1268px) {
  .main {
    display: flex;
    flex-direction: column;

    &_content {
      grid-row: 1;
    }

    &__section {
      display: grid;
      grid-template-rows: 1fr;
      padding-block: 40px;
    }
  }
}