{% extends 'base.html' %}

{% block content %}
    <h2>Se connecter</h2>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form id="login" method="post">
        <label for="username">
            <input type="text" name="username" id="username" placeholder="Identifiant" required>
        </label>
        <label for="password">
            <input type="password" name="password" id="password" placeholder="Mot de passe" required>
        </label>
        <label for="actions">
            <input class="btn" type="submit" value="Valider">
            <input class="btn" type="reset" value="Annuler" accesskey="r">
        </label>
    </form>
{% endblock %}