{% extends 'base.html' %}

{% block content %}
    <h2>Créer un compte</h2>

    {% if error %}
        <p>{{ error }}</p>
    {% endif %}

    <form id="register" method="post">
        <label for="username">
            <input type="text" id="username" name="username" placeholder="Identifiant" required>
        </label>

        <label for="password">
            <input type="password" id="password" name="password" placeholder="Mot de passe" required>
        </label>

        <label for="actions">
            <input class="btn" type="submit" value="Créer">
            <input class="btn" type="reset" value="Annuler" accesskey="r">
        </label>

    </form>
{% endblock %}
