$color-primary-400: #18588C;
$color-primary-700: #283747;
$color-secondary-400: #4df5d5;
$white: white;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  font-size: clamp(12px, 3vw, 16px);

  @media (min-width: 620px) {
    font-size: 16px;
  }

  height: 100vh;
}

header {
  top: 20px;
  right: 20px;
  position: absolute;

  nav {
    display: flex;
  }
}

main {
  display: grid;
  place-items: center;
  border-bottom: 8px solid $white;
}

.landing {
  min-height: calc(100vh);
  display: grid;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  & > section {
    display: grid;
    place-content: center;
    padding: clamp(20px, 6vw, 50px);
  }
}

.left {
  color: $color-primary-700;
  background: radial-gradient(ellipse at top right, $color-secondary-400, $color-primary-400);
  border-bottom: 8px solid $white;

  @media (min-width: 1200px) {
    border-bottom: none;
    border-right: 8px solid $white;
    text-align: right;
  }

  h2 {
    font-size: 2em;

    strong {
      font-size: 1.25em;
      letter-spacing: 6px;
      text-transform: uppercase;
      color: $white;
    }
  }
}

.right {
  color: $white;
  background-color: $color-primary-400;
  text-align: left;
}

.wrapper {
  margin: 20px 0;
}

h1 {
  font-size: 3em;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;

  &.btn {
    border-radius: 1.5em;
    background-color: $white;
    padding: 10px 20px;
  }

  &#add {
    padding: 10px 20px;
  }

  &.github {
    text-shadow: 0 0 10px rgba(100, 255, 100, 0.9);
    color: $color-secondary-400;
  }
}

form#search {
  display: flex;
  max-width: 400px;

  label {
    width: 100%;
  }

  input {
    font-family: "Poppins", sans-serif;

    &[type=text] {
      width: calc(100% - 40px);
      color: $white;
      background-color: $color-primary-400;
      padding-right: 60px;

      &::placeholder {
        color: $white;
      }
    }

    &[type=submit] {
      background-color: $white;
    }

    outline: none;
    padding: 10px 20px;
    border: 2px solid $white;
    border-radius: 25px;
  }
}

.container {
  padding: 50px;
  display: grid;
  place-content: center;
  max-width: 1200px;
}

.card {
  color: $color-primary-700;
  background-color: $white;
  border-radius: 25px;

  p {
    max-width: 75ch;
    text-align: justify;
  }
}

footer {
  background: radial-gradient(circle at right, $color-primary-400, $color-primary-700) no-repeat;
  padding: 20px;

  color: $white;
  display: flex;
  justify-content: flex-end;

  .authors {
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 4px solid $white;

    p {
      margin: 0;
    }
  }
}