$color-primary-400: #18588C;
$color-primary-700: #283747;
$color-secondary-400: #4df5d5;
$white: white;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  &-track {
    background: $white;
  }

  &-thumb {
    background: $color-primary-700;
  }
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  font-size: clamp(12px, 3vw, 16px);

  @media (min-width: 620px) {
    font-size: 16px;
  }

  height: 100vh;
}

header {
  display: flex;
  background-color: $white;
  justify-content: center;
  position: fixed;
  width: 100%;

  nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 80%;

    & > a {
      margin: 10px;
    }
  }
}

main {
  display: grid;
  place-items: center;
  border-bottom: 8px solid $white;
}

@keyframes slide-down {
  from {
    transform: translateY(-40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}


.landing {
  width: 100%;
  min-height: calc(100vh - 45px);
  display: grid;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  & > section {
    @media (min-width: 1200px) {
      display: grid;
      place-content: center;
    }
    padding: clamp(20px, 6vw, 50px);
  }
}

.left {
  color: $color-primary-700;
  background: radial-gradient(ellipse at top right, $color-secondary-400, $color-primary-400);
  border-bottom: 8px solid $white;

  @media (min-width: 1200px) {
    border-right: 8px solid $white;
    border-bottom: none;
    text-align: right;
  }

  h2 {
    font-size: 2em;

    strong {
      font-size: 1.25em;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $white;
    }
  }

  & > * {
    animation: slide-down 1s ease-in-out;
  }
}

.right {
  color: $white;
  background-color: $color-primary-400;
  text-align: left;

  & > * {
    animation: slide-up 1.5s ease-in-out;
  }
}

.wrapper {
  margin: 20px 0;
}

h1 {
  font-size: 3em;
  box-sizing: border-box;

  strong {
    text-decoration: underline dotted;
  }

  &:not(.search) strong {
    color: $color-primary-400;
  }

  &.search strong {
    color: $color-secondary-400;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &#add::after {
    background: $white;
  }

  &.btn {
    border-radius: 1.5em;
    background-color: $white;
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px 20px;

    &:hover {
      box-shadow: 0 0 0 $white, 0 0 25px $white;
    }
  }

  &.underline {
    text-decoration: none;
    transition: after .5s ease-in-out;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 1px;

      right: 20%;
      transition: width .5s ease;
      background: $color-primary-700;
    }

    &:hover::after {
      width: 80%;
      left: 0;
      background: $color-primary-700;
    }
  }

  &.github {
    transition: text-shadow 0.3s ease-in-out;

    &:hover {
      text-shadow: 0 0 10px rgba(100, 255, 100, 0.9);
    }

    color: $color-secondary-400;
  }

  &.turn {
    vertical-align: middle;
    transition: transform 1.5s cubic-bezier(0.53,-0.51, 0, 1.55);

    img {
      display: block;
    }

    &:hover {
      transform: rotate(360deg);
    }
  }
}

form#search {
  display: flex;
  max-width: 360px;

  &:hover input[type=submit], &:focus-within input[type=submit] {
    transform: translateX(40px);
  }

  label {
    width: 100%;
  }

  input {
    font-family: "Poppins", sans-serif;

    &[type=text] {
      width: 100%;
      color: $white;
      background-color: $color-primary-400;
      letter-spacing: 1px;
      padding-right: 60px;

      &::placeholder {
        color: $white;
      }
    }

    &[type=submit] {
      background-color: $white;
      transition: transform 0.3s ease-in-out;
    }

    outline: none;
    padding: 10px 20px;
    border: 2px solid $white;
    border-radius: 25px;
  }
}

.container {
  padding: 50px;
  display: grid;
  place-content: center;
  max-width: 1200px;
}

.card {
  color: $color-primary-700;
  background-color: $white;
  border-radius: 25px;

  p {
    max-width: 75ch;
    text-align: justify;
  }
}

footer {
  background: radial-gradient(circle at right, $color-primary-400, $color-primary-700) no-repeat;
  padding: 20px;

  color: $white;
  display: flex;
  justify-content: flex-end;

  .authors {
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 4px solid $white;

    p {
      margin: 0;
    }
  }
}