$color-primary-400: #18588C;
$color-primary-700: #283747;
$color-secondary-400: #4df5d5;
$white: white;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}


main {
  display: grid;

  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  & > section {
    display: grid;
    place-content: center;
    padding: 50px;

    @media (min-width: 1200px) {
      height: calc(100vh - 100px);
    }
  }
}

.left {
  color: $color-primary-700;
  background: radial-gradient(ellipse at top right, $color-secondary-400, $color-primary-400);
  text-align: right;

  @media (min-width: 1200px) {
    border-right: 8px solid $white;
  }

  h2 {
    font-size: 32px;

    strong {
      font-size: 36px;
      letter-spacing: 6px;
      text-transform: uppercase;
      color: $white;
    }
  }
}

.right {
  color: $white;
  background-color: $color-primary-400;
  text-align: left;
}

h1 {
  font-size: 48px;
}

a {
  color: inherit;
  text-decoration: none;

  &.btn {
    border-radius: 25px;
    background-color: $white;
    padding: 10px 20px;
  }
}

header {
  top: 20px;
  right: 20px;
  position: fixed;

  nav {
    display: flex;
  }
}

footer {
  color: $white;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;

  section {
    text-align: right;

    p {
      margin: 0;
    }
  }

  img {
    padding: 10px;
  }
}
