<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Bday Reminder</title>
</head>
<body>
<header>
    <nav>
        <a class="underline" href="/">Bday Reminder</a>
        <div class="right-nav">
            {% if g.user %}
                <a class="underline" href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
                <a class="underline" href="{{ url_for('auth.login') }}">Log In</a>
                <a class="underline" href="{{ url_for('auth.register') }}">Sign up</a>
            {% endif %}
        </div>
    </nav>
</header>
<main>
    <div class="wrapper">
        {% block content %}{% endblock %}
    </div>
</main>
<footer>
    <section class="authors">
        <p>By
            <a class="github" href="https://github.com/Corentin384">Coco</a> &
            <a class="github" href="https://github.com/Sigmanificient">Sigmanificient</a>
        </p>
    </section>
    <a class="turn" href="https://github.com/Corentin384/bday-reminder">
        <img src="../static/svg/github_icon.svg" alt="Github repository">
    </a>
</footer>
</body>
</html>
