{% extends 'base.jinja2' %}

{% block title %}Notez et rappelez vous des anniversaires de vos amis facilement{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/search_birthday.js"></script>
{% endblock %}

{% block content %}
    <div class="landing">
        <div class="left">
            <h1 class="title">
                Vous <strong>oubliez</strong> souvent les
                <strong>anniversaires</strong> de vos <strong>potes</strong>?
            </h1>

            <h2>Ne les oubliez plus avec <br> <strong>Bday Reminder</strong>
            </h2>

            <section class="wrapper">
                <a class="btn btn-info" href="#description">En savoir plus</a>
            </section>
        </div>
        <div class="right">
            <h1 class="search">
                <strong>Recherchez</strong> une date d'anniversaire
            </h1>
            <form id='birthday_form'>
                <input id="search" type="text" name="search" placeholder="Entrez un nom">
                <input type="submit" value="Rechercher">
            </form>
        </div>
    </div>

    <section id="description">
        <h1>Qu'est-ce que <strong>Bday Reminder</strong>?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut autem
            blanditiis commodi consequuntur dolor ipsam laboriosam, nihil quam
            quas quibusdam quisquam ratione totam ut. Asperiores cumque dolorem
            odit repellat vitae!</p>
        <p>Corporis delectus error esse ipsum iusto maiores modi mollitia nihil
            nisi numquam optio perferendis quam quibusdam reiciendis rem sequi
            unde vitae voluptas, voluptatem voluptatibus. Accusantium et
            excepturi maiores repellat voluptatibus?</p>
        <p>Ad adipisci, assumenda aut commodi debitis delectus esse et eum
            impedit inventore ipsam mollitia nemo officiis, quam quasi ratione
            repellat reprehenderit sapiente tempore vero? At cum in nihil odio
            possimus?</p>

    </section>

    <footer>
        <a href="{{ url_for('views.legal_page') }}">Mentions légales</a>

        <section class="authors">
            <p>
                By <a class="github" href="https://github.com/Corentin384">Coco</a>
                & <a class="github" href="https://github.com/Sigmanificient">Sigmanificient</a>
            </p>

            <a class="github turn" href="https://github.com/Corentin384/bday-reminder">
                <img height="32px" width="32px" src="../static/svg/github_icon.svg" alt="Github repository">
            </a>
        </section>
    </footer>

{% endblock %}
