{% extends 'base.jinja2' %}

{% block title %}Mentions Légales{% endblock %}

{% block content %}
  <section id="description">
    <h1>Mentions légales</h1>
    <p>
      Conformément aux dispositions des Articles 6-III et 19 de la Loi n°2004-575 du 21 juin 2004 pour la Confiance
      dans l’économie numérique, dite L.C.E.N., il est porté à la connaissance des Utilisateurs du site bday.fr les
      présentes mentions légales. La connexion et la navigation sur le site bday.fr par l’Utilisateur implique
      acceptation intégrale et sans réserve des présentes mentions légales. Ces dernières sont accessibles sur le site
      à la rubrique « Mentions légales »
    </p>
    <h3>ARTICLE 1 : L’hébergeur</h3>
    <p>
      L'hébergeur du site bday.fr est la Société OVH dont le siège social est situé au 2 Rue Kellermann, 59100 Roubaix,
      avec le numéro de téléphone : 09 72 10 10 07.
    </p>
    <h3>ARTICLE 2 : Accès au site</h3>
    <p>
      Le site est accessible par tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non
      et pouvant découlant d’une nécessité de maintenance. En cas de modification, interruption ou suspension des
      services le site bday.fr ne saurait être tenu responsable.
    </p>
    <h3>ARTICLE 3 : Collecte des données</h3>
    <p>
      Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la
      vie privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux
      libertés.
      En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès,
      de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit : <br>
      - via un formulaire de contact ;

    </p>
  </section>
{% endblock %}
